
<!DOCTYPE html>
<html lang="en">

<body class="bg" >
<div class="container-fluid hero-container ">
    <div class="col-md-12 hero-text">
      <h1 class="display-4" style="font-size: 50px; font-weight: bold">Welcome to Flower Paradise</h1>
      <h2 class="lead" style="font-size: 30px;">Discover a world of fragrance and beautiful Blooms at your go-to local florist.</h2>
      <a class="pretty-button sagegreen-button" routerLink="/" role="button">Explore our latest Bouquets</a>
      <a class="pretty-button white-button " routerLink="/" role="button">Make your own</a>
    </div>
</div>
<app-bouquetlist></app-bouquetlist>

<footer class="bg-info text-center py-3 bg-light">
  <p>&copy; 2023 Flower Paradise</p>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

