<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h5>Bouquets</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>image</th>
        </tr>
        </thead>
        <tbody *ngFor="let b of bouquets">
        <tr>
          <td>{{ b.bouquetId }}</td>
          <td>{{ b.bouquetType }}</td>
          <td><img src="{{b.bouquetImage}}" height="150" width="150" ></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

